:root{
    --color-white:#ffffff;
    --color-green:#a1c1be;
    --color-green2:#60cf54;
    --color-dark:#59554e;
    --color-bege1:#f3f4e5;
    --color-bege2:#e2e3d9;
    --color-red:#f3441d;
    
   
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
    min-height:  100vh;
    background: var(--color-dark);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: var(--color-bege2);
    border-radius:  10px;
    box-shadow:  0 2px 5px var(--color-white, 0, 0, 0, 0.3);
    width: 400px;
    max-width: 100%;
    overflow: hidden;
}

.header, h2{
    background-color:  var(--color-green);
    padding: 15px;
    text-align: center;
    color: var(--color-white);
}

.form{
    padding:  20px;
}

.form-control{
    margin-bottom: 10px;
    padding-bottom: 15px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input{
   border: 2px solid var(--color-green);
   border-radius: 5px;
   display: block;
   font-size:  14px; 
   width: 100%;
   padding: 8px;
   outline: none;
}

.form-control i {
    position:  absolute;
    top: 34px;
    right: 10px;
    visibility: hidden;
}

.form-control small{
    position: absolute;
    bottom: -1px;
    left: 0;
    visibility: hidden;
}

.form button{
    background-color: var(--color-green);
    color:var(--color-white);
    font-size: 15px;
    width: 100%;
    border: var(--color-white);
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    text-transform: uppercase;
}

.form button:hover{
    font-size: 16px;
    letter-spacing: 1px;
    color: var(--color-white);
    background-color: var(--color-green2);
}

/* Error and Success = Tratado no JS */
.form-control.success input {
    border-color: var(--color-green2);
}
  
.form-control.error input {
    border-color: var(--color-red);
}
  
.form-control.success i.fa-check-circle {
    color:var(--color-green2);
    visibility: visible;
}
  
.form-control.error i.fa-exclamation-circle {
    color:var(--color-red);
    visibility: visible;
}
  
.form-control.error small {
    visibility: visible;
    color: var(--color-red);
}
 